/* CandidateManagement.css */

.candidate-management-container {
    width:  107%;
    margin: 0 auto;
    padding: 20px;
    margin-left: -80px; 
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color:rgb(250, 250, 250) ;

  }
  
  .candidate-management-title {
    text-align: center;
    color: rgba(20, 9, 9, 0.63);
    margin-bottom: 70px;
    margin-top: 30px;
    font-size: 28px;
    font-weight :600;
  }
  
  .candidate-management-table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  }
  
  .candidate-management-table th, 
  .candidate-management-table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 15px;
    /* border: 1px solid #dddddd79;  */
    text-align: left;
    color: rgba(20, 9, 9, 0.664);
    border-bottom: 1px solid rgba(119, 116, 116, 0.178);
  }
  
  .candidate-management-table th {
    background-color: #e7f0f8a6;
    color: #0c0807;
    font-weight: bold;
    font-size: 16px; 
    padding-bottom: 50px;
    
    padding-top: 50px;

  }
  
  .candidate-management-table tr:nth-child(even) {
    /* background-color: #e7f0f8a6; */ 
    border-bottom: 1px solid rgba(119, 116, 116, 0.144);
  }
  
  .candidate-management-table tr:hover {
    background-color: #5fccb649;;
  }
  
  .candidate-management-table a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  .candidate-management-table a:hover {
    text-decoration: underline;
  }
  
  .candidate-management-error {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
/* Status styles */
.candidate-management-table td.status-active {
  color: green;
  font-weight: bold;
  
}

.candidate-management-table td.status-locked {
  color: red;
  font-weight: bold;
}

/* Button styles */
.candidate-management-table .ant-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.candidate-management-table .ant-btn-lock {
  background-color: red;
  color: white;
  border: none;
}

.candidate-management-table .ant-btn-unlock {
  background-color: green;
  color: white;
  border: none;
}

/* Style for the search input */
.search-input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  outline: none;
  
}

.search-input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.2);
}

/* Style for the sort select dropdown */
.sort-select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background-color: #fff;
  outline: none;
}

